<a href="https://colab.research.google.com/github/njokinjuguna/Machine-learning-Models/blob/main/CancerPredictiveAnalysisInKenya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Path to the KNH workbook
knh_workbook_path = 'KNH_Data.xlsx'  # Replace with the actual path

# Load the workbook
knh_data = pd.ExcelFile(knh_workbook_path)

# Loop through each sheet in the workbook and display its structure and content
for sheet_name in knh_data.sheet_names:
    print(f"\nSheet name: {sheet_name}")

    # Load the sheet into a DataFrame
    sheet_data = knh_data.parse(sheet_name)

    # Display basic information about the sheet
    print("Structure:")
    print(sheet_data.info())

    # Display the first few rows of the sheet
    print("First few rows:")
    print(sheet_data.head())

# Optional: Close the workbook if necessary
knh_data.close()

Sheet name: Original Database
Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 56 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Questionnaire No                                             500 non-null    object
 1   Site                                                         500 non-null    object
 2   Age                                                          500 non-null    int64
 3   Sex                                                          500 non-null    object
 4   Residence                                                    500 non-null    object
 5   Referral                                                     500 non-null    object
 6   Referred From                                                331 non-null    object
 7   Gastric cancer                                               27 non-null     object
 8    Breast cancer                                               59 non-null     object
 9   Cervical cancer                                              62 non-null     object
 10  Colorectal cancer                                            31 non-null     object
 11  Liver cancer                                                 10 non-null     object
 12   Lung and Bronchus cancer                                    11 non-null     object
 13  Esophageal                                                   25 non-null     object
 14   Nasopharyngeal carcinoma                                    17 non-null     object
 15  Burkitt’s lymphoma                                           0 non-null      float64
 16  Lip and Oral cavity                                          11 non-null     object
 17  Hodgkin’s lymphoma                                           5 non-null      object
 18  Bladder cancer                                               7 non-null      object
 19  Non Hodgkin’s lymphoma                                       13 non-null     object
 20   Prostate cancer                                             23 non-null     object
 21  Adult T cell leukemia                                        0 non-null      float64
 22  Kaposi Sarcoma                                               2 non-null      object
 23  Leukemia                                                     0 non-null      float64
 24  Skin                                                         0 non-null      float64
 25  Osteogenic                                                   0 non-null      float64
 26  Pancrease                                                    0 non-null      float64
 27  Ovary                                                        0 non-null      float64
 28  Endometrium                                                  0 non-null      float64
 29  Genitalia                                                    0 non-null      float64
 30  Eye                                                          0 non-null      float64
 31  hypopharyngeal                                               0 non-null      float64
 32  Laryngeal                                                    0 non-null      float64
 33  Parotid                                                      0 non-null      float64
 34  Thyroid                                                      0 non-null      float64
 35  Cholangiocarcinoma                                           0 non-null      float64
 36  Multiple myeloma                                             0 non-null      float64
 37  OTHERS                                                       204 non-null    object
 38     Specify                                                   203 non-null    object
 39  Method_Biopsy                                                445 non-null    object
 40  Method_Needle Aspiration                                     39 non-null     object
 41  Method_BoneAspiration                                        47 non-null     object
 42  Method_Blood                                                 498 non-null    object
 43  Method_PapSmear                                              50 non-null     object
 44  X-Ray                                                        77 non-null     object
 45  CT                                                           160 non-null    object
 46  MRI                                                          15 non-null     object
 47  U/S                                                          104 non-null    object
 48  Mammogram                                                    10 non-null     object
 49  Others                                                       32 non-null     object
 50  specify                                                      32 non-null     object
 51  2008                                                         90 non-null     object
 52  2009                                                         80 non-null     object
 53  2010                                                         85 non-null     object
 54  2011                                                         120 non-null    object
 55  2012                                                         125 non-null    object
dtypes: float64(16), int64(1), object(39)
memory usage: 218.9+ KB
None
First few rows:
  Questionnaire No Site  Age Sex      Residence Referral      Referred From  \
0             A001  KNH   67   M  Tharaka nithi       no                NaN
1             A002  KNH   31   M          nyeri       no          nyeri PGH
2             A003  KNH   62   M      kirinyaga      yes     private clinic
3             A004  KNH   25   M          kisii       no                NaN
4             A005  KNH   29   M       machakos      yes  st. Marys-langata

  Gastric cancer                                            Breast cancer    \
0                                                NaN                    NaN
1                                                NaN                    NaN
2                                                NaN                    NaN
3                                                NaN                    NaN
4                                                NaN                    NaN

  Cervical cancer                                          ...  MRI  U/S  \
0                                                NaN       ...  NaN  NaN
1                                                NaN       ...  NaN  NaN
2                                                NaN       ...  NaN  NaN
3                                                NaN       ...  NaN  NaN
4                                                NaN       ...  NaN  NaN

  Mammogram Others        specify  2008 2009 2010 2011 2012
0       NaN    NaN            NaN   yes  NaN  NaN  NaN  NaN
1       NaN    NaN            NaN   yes  NaN  NaN  NaN  NaN
2       NaN    yes  paraendoscopy   yes  NaN  NaN  NaN  NaN
3       NaN    NaN            NaN   yes  NaN  NaN  NaN  NaN
4       NaN    NaN            NaN   yes  NaN  NaN  NaN  NaN

[5 rows x 56 columns]

Sheet name: Cleaned DB
Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 58 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Questionnaire No                                             500 non-null    object
 1   Site                                                         500 non-null    object
 2   Age                                                          500 non-null    int64
 3   Unnamed: 3                                                   500 non-null    object
 4   Residence                                                    500 non-null    object
 5   Province                                                     500 non-null    int64
 6   Referral                                                     500 non-null    int64
 7   Referred From                                                331 non-null    object
 8   Gastric cancer                                               27 non-null     object
 9    Breast cancer                                               500 non-null    int64
 10  Cervical cancer                                              62 non-null     float64
 11  Colorectal cancer                                            31 non-null     float64
 12  Liver cancer                                                 10 non-null     float64
 13   Lung and Bronchus cancer                                    11 non-null     float64
 14  Esophageal                                                   25 non-null     float64
 15   Nasopharyngeal carcinoma                                    17 non-null     float64
 16  Burkitt’s lymphoma                                           0 non-null      float64
 17  Lip and Oral cavity                                          11 non-null     float64
 18  Hodgkin’s lymphoma                                           5 non-null      float64
 19  Bladder cancer                                               7 non-null      float64
 20  Non Hodgkin’s lymphoma                                       13 non-null     float64
 21   Prostate cancer                                             23 non-null     float64
 22  Adult T cell leukemia                                        0 non-null      float64
 23  Kaposi Sarcoma                                               2 non-null      float64
 24  Acute Leukemia                                               13 non-null     float64
 25  Chronic Leukemia                                             27 non-null     float64
 26  Skin                                                         20 non-null     float64
 27  Osteogenic                                                   8 non-null      float64
 28  Pancrease                                                    14 non-null     float64
 29  Ovary                                                        22 non-null     float64
 30  Endometrium                                                  17 non-null     float64
 31  Genitalia                                                    6 non-null      float64
 32  Eye                                                          6 non-null      float64
 33  hypopharyngeal                                               11 non-null     float64
 34  Laryngeal                                                    21 non-null     float64
 35  Parotid                                                      4 non-null      float64
 36  Thyroid                                                      7 non-null      float64
 37  Cholangiocarcinoma                                           4 non-null      float64
 38  Multiple myeloma                                             6 non-null      float64
 39  OTHERS                                                       17 non-null     float64
 40     Specify                                                   17 non-null     object
 41  Method_Biopsy                                                445 non-null    object
 42  Method_Needle Aspiration                                     39 non-null     object
 43  Method_BoneAspiration                                        47 non-null     object
 44  Method_Blood                                                 498 non-null    object
 45  Method_PapSmear                                              50 non-null     object
 46  X-Ray                                                        77 non-null     object
 47  CT                                                           160 non-null    object
 48  MRI                                                          15 non-null     object
 49  U/S                                                          104 non-null    object
 50  Mammogram                                                    10 non-null     object
 51  Others                                                       32 non-null     object
 52  specify                                                      32 non-null     object
 53  2008                                                         90 non-null     object
 54  2009                                                         80 non-null     object
 55  2010                                                         85 non-null     object
 56  2011                                                         120 non-null    object
 57  2012                                                         125 non-null    object
dtypes: float64(30), int64(4), object(24)
memory usage: 226.7+ KB
None
First few rows:
  Questionnaire No Site  Age Unnamed: 3      Residence  Province  Referral  \
0             A001  KNH   67          M  Tharaka nithi         3         0
1             A002  KNH   31          M          nyeri         1         0
2             A003  KNH   62          M      kirinyaga         1         1
3             A004  KNH   25          M          kisii         7         0
4             A005  KNH   29          M       machakos         3         1

       Referred From Gastric cancer                                            \
0                NaN                                                NaN
1          nyeri PGH                                                NaN
2     private clinic                                                NaN
3                NaN                                                NaN
4  st. Marys-langata                                                NaN

    Breast cancer    ...  MRI  U/S  Mammogram  Others        specify  2008  \
0                 0  ...  NaN  NaN        NaN     NaN            NaN   yes
1                 0  ...  NaN  NaN        NaN     NaN            NaN   yes
2                 0  ...  NaN  NaN        NaN     yes  paraendoscopy   yes
3                 0  ...  NaN  NaN        NaN     NaN            NaN   yes
4                 0  ...  NaN  NaN        NaN     NaN            NaN   yes

   2009  2010  2011  2012
0   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN

[5 rows x 58 columns]

Sheet name: Cleaned Backup
Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 58 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Questionnaire No                                             500 non-null    object
 1   Site                                                         500 non-null    object
 2   Age                                                          500 non-null    int64
 3   Gender                                                       500 non-null    object
 4   Residence                                                    500 non-null    object
 5   Province                                                     500 non-null    int64
 6   Referral                                                     500 non-null    int64
 7   Referred From                                                331 non-null    object
 8   Gastric cancer                                               27 non-null     object
 9    Breast cancer                                               500 non-null    int64
 10  Cervical cancer                                              62 non-null     float64
 11  Colorectal cancer                                            31 non-null     float64
 12  Liver cancer                                                 10 non-null     float64
 13   Lung and Bronchus cancer                                    11 non-null     float64
 14  Esophageal                                                   25 non-null     float64
 15   Nasopharyngeal carcinoma                                    17 non-null     float64
 16  Burkitt’s lymphoma                                           0 non-null      float64
 17  Lip and Oral cavity                                          11 non-null     float64
 18  Hodgkin’s lymphoma                                           5 non-null      float64
 19  Bladder cancer                                               7 non-null      float64
 20  Non Hodgkin’s lymphoma                                       13 non-null     float64
 21   Prostate cancer                                             23 non-null     float64
 22  Adult T cell leukemia                                        0 non-null      float64
 23  Kaposi Sarcoma                                               2 non-null      float64
 24  Acute Leukemia                                               13 non-null     float64
 25  Chronic Leukemia                                             27 non-null     float64
 26  Skin                                                         20 non-null     float64
 27  Osteogenic                                                   8 non-null      float64
 28  Pancrease                                                    14 non-null     float64
 29  Ovary                                                        22 non-null     float64
 30  Endometrium                                                  16 non-null     float64
 31  Genitalia                                                    6 non-null      float64
 32  Eye                                                          6 non-null      float64
 33  hypopharyngeal                                               11 non-null     float64
 34  Laryngeal                                                    21 non-null     float64
 35  Parotid                                                      4 non-null      float64
 36  Thyroid                                                      7 non-null      float64
 37  Cholangiocarcinoma                                           4 non-null      float64
 38  Multiple myeloma                                             6 non-null      float64
 39  OTHERS                                                       19 non-null     object
 40     Specify                                                   18 non-null     object
 41  Method_Biopsy                                                445 non-null    object
 42  Method_Needle Aspiration                                     39 non-null     object
 43  Method_BoneAspiration                                        47 non-null     object
 44  Method_Blood                                                 498 non-null    object
 45  Method_PapSmear                                              50 non-null     object
 46  X-Ray                                                        77 non-null     object
 47  CT                                                           160 non-null    object
 48  MRI                                                          15 non-null     object
 49  U/S                                                          104 non-null    object
 50  Mammogram                                                    10 non-null     object
 51  Others                                                       32 non-null     object
 52  specify                                                      32 non-null     object
 53  2008                                                         90 non-null     object
 54  2009                                                         80 non-null     object
 55  2010                                                         85 non-null     object
 56  2011                                                         120 non-null    object
 57  2012                                                         125 non-null    object
dtypes: float64(29), int64(4), object(25)
memory usage: 226.7+ KB
None
First few rows:
  Questionnaire No Site  Age Gender      Residence  Province  Referral  \

In [2]:
import pandas as pd

# Path to the MTRH workbook
mtrh_workbook_path = 'MTRH_Data.xlsx'  # Replace with the actual path

# Load the workbook
mtrh_data = pd.ExcelFile(mtrh_workbook_path)

# Loop through each sheet in the workbook and display its structure and content
for sheet_name in mtrh_data.sheet_names:
    print(f"\nSheet name: {sheet_name}")

    # Load the sheet into a DataFrame
    sheet_data = mtrh_data.parse(sheet_name)

    # Display basic information about the sheet
    print("Structure:")
    print(sheet_data.info())

    # Display the first few rows of the sheet
    print("First few rows:")
    print(sheet_data.head())

# Optional: Close the workbook if necessary
knh_data.close()

Sheet name: Original Database
Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 57 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Questionnaire No                                             500 non-null    object
 1   Site                                                         500 non-null    object
 2   Age                                                          500 non-null    int64
 3   Sex                                                          500 non-null    object
 4   Residence                                                    500 non-null    object
 5   Referral                                                     496 non-null    object
 6   Referred From                                                207 non-null    object
 7   Gastric cancer                                               15 non-null     object
 8    Breast cancer                                               77 non-null     object
 9   Cervical cancer                                              41 non-null     object
 10  Colorectal cancer                                            27 non-null     object
 11  Liver cancer                                                 16 non-null     object
 12   Lung and Bronchus cancer                                    3 non-null      object
 13  Esophageal                                                   27 non-null     object
 14   Nasopharyngeal carcinoma                                    11 non-null     object
 15  Burkitt’s lymphoma                                           0 non-null      float64
 16  Lip and Oral cavity                                          9 non-null      object
 17  Hodgkin’s lymphoma                                           14 non-null     object
 18  Bladder cancer                                               2 non-null      object
 19  Non Hodgkin’s lymphoma                                       37 non-null     object
 20   Prostate cancer                                             7 non-null      object
 21  Adult T cell leukemia                                        0 non-null      float64
 22  Kaposi Sarcoma                                               93 non-null     object
 23  Acute Leukemia                                               0 non-null      float64
 24  Chronic Leukemia                                             0 non-null      float64
 25  Skin                                                         0 non-null      float64
 26  Osteogenic                                                   0 non-null      float64
 27  Pancrease                                                    0 non-null      float64
 28  Ovary                                                        0 non-null      float64
 29  Endometrium                                                  0 non-null      float64
 30  Genitalia                                                    0 non-null      float64
 31  Eye                                                          0 non-null      float64
 32  Hypopharyngeal                                               0 non-null      float64
 33  Laryngeal                                                    0 non-null      float64
 34  Parotid                                                      0 non-null      float64
 35  Thyroid                                                      0 non-null      float64
 36  Cholangiocarcinoma                                           0 non-null      float64
 37  Multiple Myeloma                                             0 non-null      float64
 38  OTHERS                                                       125 non-null    object
 39     Specify                                                   125 non-null    object
 40  Method_Biopsy                                                456 non-null    object
 41  Method_Needle Aspiration                                     52 non-null     object
 42  Method_BoneAspiration                                        44 non-null     object
 43  Method_Blood                                                 500 non-null    object
 44  Method_PapSmear                                              10 non-null     object
 45  X-Ray                                                        21 non-null     object
 46  CT                                                           36 non-null     object
 47  MRI                                                          1 non-null      object
 48  U/S                                                          58 non-null     object
 49  Mammogram                                                    2 non-null      object
 50  others                                                       34 non-null     object
 51  Specify                                                      34 non-null     object
 52  2008                                                         110 non-null    object
 53  2009                                                         154 non-null    object
 54  2010                                                         57 non-null     object
 55  2011                                                         85 non-null     object
 56  2012                                                         94 non-null     object
dtypes: float64(17), int64(1), object(39)
memory usage: 222.8+ KB
None
First few rows:
  Questionnaire No  Site  Age Sex Residence Referral          Referred From  \
0             E001  MTRH   59   F     POKOT      Yes  kapenguria D Hospital
1             E002     -   29   M   MAKUENI       no                    NaN
2             E003  MTRH   18   M  NANDI N.       NO                    NaN
3             E004  MTRH   90   M     KEIYO      YES       plateau Hospital
4             E005  MTRH   34   F     BUSIA       no                    NaN

  Gastric cancer                                            Breast cancer    \
0                                                NaN                    NaN
1                                                NaN                    NaN
2                                                NaN                    NaN
3                                                NaN                    NaN
4                                                NaN                    NaN

  Cervical cancer                                          ...  MRI  U/S  \
0                                                NaN       ...  NaN  NaN
1                                                NaN       ...  NaN  yes
2                                                NaN       ...  NaN  yes
3                                                NaN       ...  NaN  NaN
4                                                NaN       ...  NaN  NaN

  Mammogram others    Specify  2008 2009 2010 2011 2012
0       NaN    yes        OGD   NaN  NaN  NaN  NaN  yes
1       NaN    NaN        NaN   NaN  NaN  NaN  NaN  yes
2       NaN    NaN        NaN   NaN  NaN  NaN  NaN  yes
3       NaN    yes  Endoscopy   NaN  NaN  NaN  NaN  yes
4       NaN    yes        OGD   NaN  NaN  NaN  NaN  yes

[5 rows x 57 columns]

Sheet name: Cleaned DB
Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 58 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Questionnaire No                                             500 non-null    object
 1   Site                                                         500 non-null    object
 2   Age                                                          500 non-null    int64
 3   Sex                                                          500 non-null    object
 4   Residence                                                    500 non-null    object
 5   Province                                                     500 non-null    int64
 6   Referral                                                     499 non-null    object
 7   Referred From                                                207 non-null    object
 8   Gastric cancer                                               15 non-null     object
 9    Breast cancer                                               77 non-null     object
 10  Cervical cancer                                              43 non-null     object
 11  Colorectal cancer                                            27 non-null     object
 12  Liver cancer                                                 16 non-null     object
 13   Lung and Bronchus cancer                                    3 non-null      object
 14  Esophageal                                                   27 non-null     object
 15   Nasopharyngeal carcinoma                                    11 non-null     object
 16  Burkitt’s lymphoma                                           0 non-null      float64
 17  Lip and Oral cavity                                          9 non-null      object
 18  Hodgkin’s lymphoma                                           14 non-null     object
 19  Bladder cancer                                               2 non-null      object
 20  Non Hodgkin’s lymphoma                                       37 non-null     object
 21   Prostate cancer                                             7 non-null      object
 22  Adult T cell leukemia                                        0 non-null      float64
 23  Kaposi Sarcoma                                               93 non-null     object
 24  Acute Leukemia                                               8 non-null      object
 25  Chronic Leukemia                                             27 non-null     object
 26  Skin                                                         11 non-null     object
 27  Osteogenic                                                   10 non-null     object
 28  Pancrease                                                    11 non-null     object
 29  Ovary                                                        14 non-null     object
 30  Endometrium                                                  5 non-null      object
 31  Genitalia                                                    8 non-null      object
 32  Eye                                                          0 non-null      float64
 33  Hypopharyngeal                                               0 non-null      float64
 34  Laryngeal                                                    3 non-null      object
 35  Parotid                                                      0 non-null      float64
 36  Thyroid                                                      0 non-null      float64
 37  Cholangiocarcinoma                                           3 non-null      object
 38  Multiple Myeloma                                             7 non-null      object
 39  OTHERS                                                       18 non-null     object
 40     Specify                                                   18 non-null     object
 41  Method_Biopsy                                                456 non-null    object
 42  Method_Needle Aspiration                                     52 non-null     object
 43  Method_BoneAspiration                                        44 non-null     object
 44  Method_Blood                                                 500 non-null    object
 45  Method_PapSmear                                              10 non-null     object
 46  X-Ray                                                        21 non-null     object
 47  CT                                                           36 non-null     object
 48  MRI                                                          1 non-null      object
 49  U/S                                                          58 non-null     object
 50  Mammogram                                                    2 non-null      object
 51  others                                                       34 non-null     object
 52  Specify                                                      34 non-null     object
 53  2008                                                         110 non-null    object
 54  2009                                                         154 non-null    object
 55  2010                                                         57 non-null     object
 56  2011                                                         85 non-null     object
 57  2012                                                         94 non-null     object
dtypes: float64(6), int64(2), object(50)
memory usage: 226.7+ KB
None
First few rows:
  Questionnaire No  Site  Age Sex Residence  Province Referral  \
0             E001  MTRH   59   F     POKOT         6      Yes
1             E002  MTRH   29   M   MAKUENI         3       no
2             E003  MTRH   18   M  NANDI N.         6       NO
3             E004  MTRH   90   M     KEIYO         6      YES
4             E005  MTRH   34   F     BUSIA         7       no

           Referred From  \
0  kapenguria D Hospital
1                    NaN
2                    NaN
3       plateau Hospital
4                    NaN

  Gastric cancer                                            Breast cancer    \
0                                                NaN                    NaN
1                                                NaN                    NaN
2                                                NaN                    NaN
3                                                NaN                    NaN
4                                                NaN                    NaN

   ...  MRI  U/S Mammogram others    Specify 2008  2009 2010 2011 2012
0  ...  NaN  NaN       NaN    yes        OGD  NaN   NaN  NaN  NaN  yes
1  ...  NaN  yes       NaN    NaN        NaN  NaN   NaN  NaN  NaN  yes
2  ...  NaN  yes       NaN    NaN        NaN  NaN   NaN  NaN  NaN  yes
3  ...  NaN  NaN       NaN    yes  Endoscopy  NaN   NaN  NaN  NaN  yes
4  ...  NaN  NaN       NaN    yes        OGD  NaN   NaN  NaN  NaN  yes

[5 rows x 58 columns]

Sheet name: Coding
Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   27 non-null     object
 1   Unnamed: 1   17 non-null     object
 2   Unnamed: 2   9 non-null      float64
 3   Unnamed: 3   9 non-null      float64
 4   Unnamed: 4   9 non-null      float64
 5   Yes          18 non-null     object
 6   1            3 non-null      float64
 7   Unnamed: 7   0 non-null      float64
 8   Unnamed: 8   0 non-null      float64
 9   Unnamed: 9   0 non-null      float64
 10  Unnamed: 10  0 non-null      float64
 11  Unnamed: 11  19 non-null     object
 12  Unnamed: 12  0 non-null      float64
 13  Unnamed: 13  8 non-null      float64
 14  Unnamed: 14  9 non-null      object
dtypes: float64(10), object(5)
memory usage: 3.6+ KB
None
First few rows:
              Unnamed: 0 Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  \
0  Radiologic techniques        NaN         NaN         NaN         NaN
1                  X-Ray        NaN         NaN         NaN         NaN
2                     CT        NaN         NaN         NaN         NaN
3                    MRI        NaN         NaN         NaN         NaN
4                    U/S        NaN         NaN         NaN         NaN

      Yes    1  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  \
0      No  0.0         NaN         NaN         NaN          NaN
1     NaN  NaN         NaN         NaN         NaN          NaN
2    Male  1.0         NaN         NaN         NaN          NaN
3  Female  0.0         NaN         NaN         NaN          NaN
4     NaN  NaN         NaN         NaN         NaN          NaN

     Unnamed: 11  Unnamed: 12  Unnamed: 13        Unnamed: 14
0  Other cancers          NaN          NaN            Regions
1          Renal          NaN          1.0            Central
2     Head/brain          NaN          2.0              Coast
3           Anal          NaN          3.0  Eastern/N Eastern
4            Ear          NaN          4.0            Nairobi

Sheet name: Calculations
Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   cancer       92 non-null     object
 1   M            93 non-null     float64
 2   %            86 non-null     float64
 3   F            93 non-null     float64
 4   %.1          85 non-null     float64
 5   BOTH         93 non-null     float64
 6   %.2          85 non-null     float64
 7   Unnamed: 7   60 non-null     float64
 8   Unnamed: 8   52 non-null     float64
 9   24           93 non-null     float64
 10  Unnamed: 10  85 non-null     float64
 11  25-44        70 non-null     object
 12  %.3          67 non-null     float64
 13  45-64        44 non-null     float64
 14  %.4          46 non-null     float64
 15  68-84        44 non-null     float64
 16  %.5          46 non-null     float64
 17  85           44 non-null     float64
 18  %.6          46 non-null     float64
 19  Unnamed: 19  44 non-null     float64
 20  Unnamed: 20  13 non-null     float64
 21  Unnamed: 21  11 non-null     float64
dtypes: float64(20), object(2)
memory usage: 17.7+ KB
None
First few rows:
       cancer     M         %     F        %.1  BOTH   %.2  Unnamed: 7  \
0     gastric   5.0  2.293578  10.0   3.546099  15.0   3.0         NaN
1      breast   3.0  1.376147  74.0  26.241135  77.0  15.4         NaN
2    cervical   0.0  0.000000  41.0  14.539007  41.0   8.2         NaN
3  colorectal  16.0  7.339450  11.0   3.900709  27.0   5.4         NaN
4       liver  13.0  5.963303   3.0   1.063830  16.0   3.2         NaN

   Unnamed: 8   24  ...        %.3 45-64        %.4  68-84        %.5   85  \
0         NaN  0.0  ...   2.030457   6.0   3.174603    4.0   5.194805  1.0
1         NaN  3.0  ...  14.213198  37.0  19.576720    8.0  10.389610  1.0
2         NaN  0.0  ...  10.152284  16.0   8.465608    4.0   5.194805  1.0
3         NaN  0.0  ...   4.568528  10.0   5.291005    7.0   9.090909  1.0
4         NaN  1.0  ...   3.045685   5.0   2.645503    4.0   5.194805  0.0

         %.6  Unnamed: 19  Unnamed: 20  Unnamed: 21
0  11.111111         15.0          NaN          NaN
1  11.111111         77.0          NaN          NaN
2  11.111111         41.0          NaN          NaN
3  11.111111         27.0          NaN          NaN
4   0.000000         16.0          NaN          NaN

[5 rows x 22 columns]

**merging the 2 data sets**

In [6]:
import pandas as pd

# Paths to the two files
file1_path = 'KNH_Data.xlsx'  # Replace with the actual path to the KNH file
file2_path = 'MTRH_Data.xlsx'  # Replace with the actual path to the MTRH file

# Load each file's 'Cleaned DB' sheet into DataFrames
df1 = pd.read_excel(file1_path, sheet_name='Cleaned DB')
df2 = pd.read_excel(file2_path, sheet_name='Cleaned DB')


# Standardizing column names in KNH to match MTRH
column_names_mtrh = df2.columns.tolist()  # Getting column names from MTRH
df1.columns = column_names_mtrh  # Applying these column names to KNH

# Concatenate the two DataFrames after standardizing column names
combined_df = pd.concat([df1, df2], ignore_index=True)

# Strip any leading or trailing whitespace in column names
combined_df.columns = combined_df.columns.str.strip()

# Rename the last five columns explicitly to 2008 through 2012
combined_df.columns.values[-5:] = [2008, 2009, 2010, 2011, 2012]



# Rename "Questionnaire No" to "PatientID"
combined_df.rename(columns={"Questionnaire No": "PatientID"}, inplace=True)

# Make "PatientID" unique by appending the "Hospital" name
combined_df["PatientID"] = combined_df["PatientID"].astype(str) + "_" + combined_df["Site"]

# Rename "Site" to "Hospital"
combined_df.rename(columns={"Site": "Hospital"}, inplace=True)

# Load the 'Coding' sheet from the KNH workbook to get the region mappings
coding_df = pd.read_excel(file1_path, sheet_name='Coding')

# Extract the regions and their codes from 'Unnamed: 14'
# We assume the codes are 1 to 7, and '0' for "others/out of kenya"
region_codes = list(range(8))
region_names = coding_df['Unnamed: 14'].iloc[1:9].values  # Adjusted to extract the relevant rows

# Create a dictionary to map Province codes to region names
province_mapping = dict(zip(region_codes, region_names))

# Map the 'Province' column in the combined DataFrame using the province_mapping
combined_df['Province'] = combined_df['Province'].map(province_mapping)

# Ensure "Breast cancer" column exists
if 'Breast cancer' in combined_df.columns:
    # Update records for MTRH (filter by 'Hospital' == 'MTRH')
    mtrh_mask = combined_df['Hospital'] == 'MTRH'
    combined_df.loc[mtrh_mask, 'Breast cancer'] = combined_df.loc[mtrh_mask, 'Breast cancer'].apply(
        lambda x: 0 if pd.isna(x) or str(x).strip() == "" else 1  # Blank/NaN = 0, any non-blank = 1
    )
    print("Updated 'Breast cancer' column for MTRH records.")
else:
    print("'Breast cancer' column not found in the DataFrame.")

# # Print all column names to verify the actual name of the 'Breast cancer' column
# print("Column names in the DataFrame:", combined_df.columns.tolist())

# Define the range of cancer columns to process
cancer_columns = combined_df.loc[:, 'Gastric cancer':'Multiple Myeloma'].columns

# Replace NaN with 0 and 'yes'/'Yes' (case-insensitive) with 1 in cancer columns
for column in cancer_columns:
    combined_df[column] = combined_df[column].fillna(0)  # Replace NaN with 0
    combined_df[column] = combined_df[column].apply(lambda x: 1 if x != 0 else 0)  # Replace any non-0 with 1

# Clean the 'OTHERS' column (column 'AN')
combined_df['OTHERS'] = combined_df['OTHERS'].fillna(0)  # Replace NaN with 0
combined_df[column] = combined_df[column].apply(lambda x: 1 if x != 0 else 0)  # Replace any non-0 with 1

# Define the range of cancer checking method columns (AP-AY)
method_columns = combined_df.loc[:, 'Method_Biopsy':'Mammogram'].columns

# Replace NaN with 0 and all other values with 1 in method columns
for column in method_columns:
    combined_df[column] = combined_df[column].fillna(0)  # Replace NaN with 0
    combined_df[column] = combined_df[column].apply(lambda x: 1 if x != 0 else 0)  # Replace any non-0 with 1

# Clean the 'others' column (AZ)
combined_df['others'] = combined_df['others'].fillna(0)  # Replace NaN with 0
combined_df['others'] = combined_df['others'].apply(lambda x: 1 if x != 0 else 0)  # Replace any non-0 with 1


# # Print the combined DataFrame to verify the changes
# print(combined_df.head())

# Save the combined DataFrame to a new Excel file
output_path = 'Test_semiFinale.xlsx'
combined_df.to_excel(output_path, index=False)
print(f"Combined dataset with standardized columns saved to {output_path}")

Updated 'Breast cancer' column for MTRH records.

<ipython-input-6-24cb710740ee>:69: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  combined_df[column] = combined_df[column].fillna(0)  # Replace NaN with 0

Combined dataset with standardized columns saved to Test_semiFinale.xlsx